/** reset **/
@import url("reset.css");

@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Ghibli";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ghibli.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Ghibli";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Ghibli-Bold.ttf") format("woff");
}

/** GLOBAL **/
body {
  margin: 0;
  padding: 0;
  background: url(../imgs/background.png) no-repeat center fixed;
  background-size: cover;
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper--center {
  margin: 0;
  position: absolute;
  top: 50%;
  padding: 4rem 12rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(10px);
  border: 4px solid white;
}

.wrapper--thumbs {
  justify-content: space-around;
  align-items: center;
  flex-direction: inherit;
  width: 90%;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 2rem;
  font-size: 4rem;
}

h2 {
  color: white;
  font-size: 6rem;
  line-height: 6rem;
  font-family: "Ghibli";
  letter-spacing: 2px;
}

.button {
  font-size: 1.4rem;
  padding: 15px 20px;
  margin-top: 3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  border: 2px solid white;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  background-color: black;
  color: white;
  border-color: white;
}

.thumb {
  display: flex;
  width: 22rem;
  height: 16rem;
  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all ease 0.5s;
  margin-bottom: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.thumb:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.247);
}

.thumb:hover .thumb__img{
  opacity: 0.7;
}

.thumb__img {
  position: relative;
  object-fit: cover;
  height: inherit;
  transition: all ease 0.5s;
  opacity: 0;
}

.thumb__name {
  position: absolute;
  font-family: "Ghibli";
  font-size: 2.4rem;
  width: 100%;
  line-height: 2.6rem;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  padding: 0 3rem;
}

.thumb:hover .thumb__name {
  color: white;
}

.index-404 {
  padding-top: 25vh;
}

.index-404 .container {
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  box-shadow: rgb(36, 36, 223) 0px 0px 0px 5px inset,
    rgba(255, 255, 255, 0) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px,
    rgba(255, 255, 255, 0) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px,
    rgba(255, 255, 255, 0) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px,
    rgba(255, 255, 255, 0) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
  padding: 4rem;
  background-color: rgb(36, 36, 223);
  color: white;

  position: relative;
  animation: 2.5s ease-in-out infinite alternate slidein;
}

@keyframes slidein {
  to {
    box-shadow: rgb(36, 36, 223) 0px 0px 0px 5px inset,
      rgba(255, 255, 255, 0) 10px -10px 0px -3px, rgb(31, 193, 27) -10px -10px,
      rgba(255, 255, 255, 0) 20px -20px 0px -3px, rgb(255, 217, 19) -20px -20px,
      rgba(255, 255, 255, 0) 30px -30px 0px -3px, rgb(255, 156, 85) -30px -30px,
      rgba(255, 255, 255, 0) 40px -40px 0px -3px, rgb(255, 85, 85) -40px -40px;
    padding: 2.5%;
  }
}

.cross {
  position: absolute;
  right: 14px;
  top: 11px;
  width: 22px;
  height: 22px;
}

.cross:before,
.cross:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 22px;
  width: 2px;
  background-color: #ffffff;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}
