/* ==========================================
  0.0   |   RESET & FONTS-FACE
============================================= */
@import url("reset.css");

@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Ghibli";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ghibli.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Ghibli";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Ghibli-Bold.ttf") format("woff");
}


/* ==========================================
  1.0   |   GLOBAL STYLE
============================================= */
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  background-color: #efefef;
  position: relative;
}

.bg-full {
  background: url(../imgs/background.png) no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-family: "Gibhli";
}

.home__title, .search__label {
  color: white;
  font-size: 6rem;
  line-height: 6rem;
  font-family: "Ghibli";
  letter-spacing: 2px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper--center {
  margin: 0;
  position: absolute;
  top: 50%;
  padding: 4rem 12rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(10px);
}

.bordered {
  border: 4px solid white;
}

.button {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 15px 20px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  border: 2px solid white;
  max-width: 250px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  background-color: black;
  color: white;
  border-color: white;
}

.button__container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex-right {
  justify-content: flex-end;
}


/* ==========================================
  1.1   |   HEADER STYLE
============================================= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  padding: 0 3%;
  z-index: 420;
  font-size: 1.6rem;
  background-color: white;
  box-shadow: 0 3px 8px -4px rgb(80, 80, 80);
}

.header--shadowed {
  background-color: rgba(255, 255, 255, 0.137);
}

.header__righty {
  display: flex;
  flex-direction: column;
}

.header__lefty::after {
  content: inherit;
}

.header__title {
  font-size: 1.6rem;
  cursor: pointer;
  font-family: "Gibhli";
  text-transform: uppercase;
  font-weight: 400;
  color: #346fbf;
  letter-spacing: 3px;
}

.header__nav,
.nav__list,
.nav__item {
  height: 100%;
}

.nav__list {
  display: flex;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  color: rgb(0, 0, 0);
  font-weight: 400;
  position: relative;
}

.nav__link::before {
  content: "‹";
  font-size: 5rem;
  margin-right: 1.1rem;
  margin-top: -4px;
}

.nav__link:hover {
  color: #1C9DCF;
  font-weight: var(--font-bold);
}

.nav__link:hover::after {
  content: "_";
  position: absolute;
  top: 22px;
  left: 88px;
  font-size: 2rem;
  color: #1C9DCF;
}


/* ==========================================
  2.0   |   FILMS PAGE STYLE
============================================= */
.wrapper--thumbs {
  justify-content: space-around;
  align-items: center;
  flex-direction: inherit;
  width: 90%;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumb {
  display: flex;
  width: 22rem;
  height: 16rem;
  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-bottom: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.thumb:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgba(0, 0, 0, 0.247);
  transition: all ease 0.5s;
}

.thumb:hover .thumb__img {
  opacity: 0.7;
  filter: blur(0);
}

.thumb__img {
  position: relative;
  object-fit: cover;
  height: inherit;
  transition: all ease 0.5s;
  opacity: 0.5;
  filter: blur(2px);
}

.thumb__name {
  position: absolute;
  font-family: "Ghibli";
  font-size: 2.4rem;
  width: 100%;
  line-height: 2.6rem;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  padding: 0 3rem;
}

.thumb:hover .thumb__name {
  color: white;
}


/* ==========================================
  3.0   |   FILM PAGE STYLE
============================================= */
.film__container {
  display: flex;
  width: 70%;
  margin: calc(55px + 5rem) auto 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
}

.film__title {
  color: rgb(39, 39, 39);
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: 700;
  font-size: 6.5rem;
  padding-bottom: 3rem !important;
}

.film__subtitle {
  border-bottom: 2px solid black;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 3rem;
  letter-spacing: 2.5px;
}

.film__content > * {
  padding-bottom: 2rem;
}

.film__content {
  padding: 3rem 5rem;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.6rem;
}

.film-img {
  width: 30%;
}

.film-description {
  font-size: 2rem;
  text-align: justify;
  line-height: 3.5rem;
  padding: 2rem 4rem 4rem 0 !important;
  border-right: 2px solid black;
}

.film__content span {
  color: black;
  font-weight: 700;
}

.film-ogtitle {
  letter-spacing: 2px;
}


/* ==========================================
  4.0   |   SEARCH PAGE STYLE
============================================= */
.search__label {
  margin-bottom: 2rem;
}

.search__input {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  padding: 1rem;
  border: 0;
}


/* ==========================================
  4.0   |   404 PAGE STYLE
============================================= */
.bg-full-var {
  background-color: #1C9DCF;
  font-family: "Ghibli";
  color: white;
  background-image: url(../imgs/totoro.png);
  background-position: 3% 72%;
  background-repeat: no-repeat;
}

.error__title {
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: left;
}

.error__content {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-top: 0rem;
  text-align: right;
  letter-spacing: 1px;
  border-top: 2px solid white;
  padding-top: 1rem;
}

/* === MEDIUM DEVICES === */
@media screen and (max-width: 888px) {
  .wrapper--thumbs {
    position: relative;
    top: inherit;
    left: inherit;
    margin: 2rem auto 0 auto;
    transform: inherit;
  }

  .wrapper--center {
    position: relative;
    top: inherit;
    left: inherit;
    width: 60%;
    margin: 25vh auto 0 auto;
    transform: inherit;
    padding: 4rem;
  }

  .home__title, .search__label {
    font-size: 3rem;
    line-height: 3rem;
  }

  .button__container {
    flex-direction: column;
    align-items: center;
  }

  .button {
    font-size: 1rem;
    max-width: 140px;
    align-items: center;
    line-height: 1.5rem;
    padding: 10px 10px;
  }

  .button:first-child {
    margin-bottom: 2rem;
  }

  .film__container {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  
  .film-img {
    width: 100%;
  }

  .film-description {
    padding: 2rem 0 0 0 !important;
    border-right: 0;
  }
}