<header class="header">
  <nav class="header__nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a id="historyBack" class="nav__link">Revenir en arriére</a>
      </li>
    </ul>
  </nav>
  <a class="header__righty" href="/">
    <span class="header__title">Ghibilibliothéque</span>
  </a>
</header>
