<%- include('partials/header') %>

<main class="index-404">
    <div class="container">
        <h1>Error 404</h1>
        <h2>Il semblerait que votre princesse se trouve dans un autre château . . .</h2>
        <a href="/" class="cross"></a>
    </div>

<%- include('partials/footer') %>
