<%- include('partials/header') %>
<body class="bg-full-var">
    <%- include('partials/navbar') %>
    <main>
        <div class="wrapper wrapper--center">
            <h1 class="error__title">404</h1>
            <p class="error__content">La chose que vous recherchez se trouve peut-être quelque part<br>mais elle n'est pas ici . . .</p>
        </div>
<%- include('partials/footer') %>
