<%- include('partials/header') %>
<body class="bg-full">
  <main>
    <div class="wrapper wrapper--center bordered">
      <h1 class="home__title">Ghibilibliothéque</h1>
      <div class="button__container">
        <a class="button" href="/films">Découvrir les oeuvres</a>
        <a class="button" href="/search">Rechercher une oeuvre</a>
      </div>
    </div>
<%- include('partials/footer') %>
