<%- include('partials/header') %>
<div class="wrapper wrapper--center">
  <h2>Ghibilibliothéque</h2>
  <a class="button" href="/films">Découvrir les oeuvres</a>
</div>
<%- include('partials/footer') %>
