<%- include('partials/header') %>
<body class="bg-full">
  <%- include('partials/navbar') %>
  <main>
    <div class="wrapper wrapper--center bordered">
      <form class="search__form wrapper" action="/search/result" method="get">
        <label class="search__label" for="search">
          Vous cherchez un film ?
        </label>
        <input type="search" id="search" class="search__input" name="title" />
        <div class="button__container flex-right">
          <button class="button">捜 査 !</button>
        </div>
      </form>
    </div>
    <%- include('partials/footer') %>
